<div class="container-fluid g-0">
    <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>

    <main>
        <app-sidebar [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidebar>

        <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">

            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuarios of listaUsuarios" (click)="editarUsuario(usuarios.id)">
                        <td>{{usuarios.id}}</td>
                        <td>{{usuarios.nombre}}</td>
                        <td>{{usuarios.apellidos}}</td>
                        <td>{{usuarios.email}}</td>
                        <td>{{usuarios.fecha_nacimiento}}</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-outline-light button-darkred" (click)="nuevoUsuario()">Añadir</button>
        </div>
    </main>
</div>